/* BREAKPOINTS */
/* 480px */
$containerXs: 48rem;
$screenXs: 30em;
/* 768px */
$containerSm: 76.8rem;
$screenSm: 48em;
/* 992px */
$containerMd: 99.2rem;
$screenMd:62em;
/* 1200px */
$containerLg: 120rem;
$screenLg:75em;
/* 1600px */
$containerXlg: 160rem;
$screenXlg:100em;


/* colors */
$color1: #CAB2D6;
$color2: #8DD3C7;
$color3: #B15927;
$color4: #FB9A99;
$color5: #33A02D;
$color6: #B2DF8A;
$color7: #2078B4;
$color8: #A6CEE3;


/* fonts */
$font1: 'Open Sans', sans-serif;

$fw-normal: 400;
$fw-bold: 600;
